<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="movie-offer" routerLink="/movie-offer">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Movie Offer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="your-movies" routerLink="/your-movies">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Your Movies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
