<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Movie Offer</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Type movie information" [(ngModel)]="searchTerm" showCancelButton="focus" animated></ion-searchbar>
  <ion-list lines="none">
    <ion-item-sliding *ngFor="let movie of movies | filter: searchTerm">
      <app-movie-element [movie]="movie" ></app-movie-element>
      <ion-item-options>
        <ion-item-option color="secondary">
          <ion-icon name="create-outline" slot="icon-only" (click)="onUpdateMovie(movie)"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary">
          <ion-icon name="trash-outline" slot="icon-only" (click)="onDeleteMovie(movie.id)" ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
